<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/servlet/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitializeServlet</servlet-name>
        <servlet-class>web.InitializeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeServlet</servlet-name>
        <url-pattern>/servlet/InitializeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>web.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/servlet/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlterServlet</servlet-name>
        <servlet-class>web.AlterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterServlet</servlet-name>
        <url-pattern>/servlet/AlterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>web.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/servlet/AddServlet</url-pattern>
    </servlet-mapping>
</web-app>
